<h2>Login</h2>
<!-- Checkout flash as per passport sodium demo -->
<form action="login" method="POST">
  <p>Bizzy Name:</p><input name="name" autofocus/>
  <p>Bizzy Password:</p><input name="password" min="8" max="16"/>
  <input type="submit" name="commit" value="Log in"/>
</form>

<h4>Not a registered biz? <a href="/register">Register here</a></h4>
