<h2>Login</h2>
<!-- Checkout flash as per passport sodium demo -->
<form action="/bizzyprofile" method="POST">
  <h3>Bizzy Name:</h3><input type="text" name="userName" placeholder="Enter Biz Password...." min="3" autofocus/>
  <h3>Bizzy Password:</h3><input type="text" name="password" placeholder="Enter Biz Password...." min="8" max="16"/><br><br>
  <input type="submit" name="commit" value="Log in"/>
</form>

<p>Not a registered biz? <a href="/register">Register here</a></p>
