<h2>Login</h2>
<!-- Checkout flash as per passport sodium demo -->
<form action="/bizzyprofile" method="POST">
  <p>Bizzy Name:</p><input type="text" name="userName" placeholder="Enter Biz Password...." autofocus/>
  <p>Bizzy Password:</p><input type="text" name="password" placeholder="Enter Biz Password...." min="8" max="16"/>
  <input type="submit" name="commit" value="Log in"/>
</form>

<h4>Not a registered biz? <a href="/register">Register here</a></h4>
