{{#each user}}
  <h2>{{userName}}</h2>
  <img src="{{logo}}">
<form action="/bizzyprofile/{{userName}}" method="POST">
  <p>Status update:</p><input type="text" name="post" placeholder="What's happening at {{userName}}" autofocus/>
  <input type="submit" name="commit" value="Submit"/>
</form>

{{/each}}
