<h2>Register</h2>
<!-- Checkout flash as per passport sodium demo -->>
<form action="register" method="POST">
  <p>Bizzy Name:</p><input type="text" name="name" autofocus/>
  <p>Bizzy Profile Pic Url:</p><input type="text" name="image"/>
  <p>Bizzy Password:</p><input type="text" name="password" min="8" max="16"/>
  <input type="submit" name="commit" value="Register"/>
</form>

<h4>Already have an account? <a href="/login">Return to login</a></h4>
