<h2>Register</h2>
<!-- Checkout flash as per passport sodium demo -->>
<form action="login" method="POST">
  <p>Bizzy Name:</p><input type="text" name="bizzyName" autofocus>
  <p>Bizzy Profile Pic Url:</p><input type="text" name="bizzyImage">
  <p>Bizzy Password:</p><input type="text" name="bizzyPassword" min="8" max="16">
</form>

<h4>Already have an account? <a href="/login">Return to login</a></h4>
